body {
    color: black;
    background-color: #90EE90;
    font-size: 25px;
    text-align: left;
}
#set{
	background-color:orange;
	font-size: 15px;
	color : white;
}
#countup {
	background-color: green;
	font-size: 15px;
	color: white;
}
#countdown {
	background-color: blue;
	font-size: 15px;
	color: white;
}
#stop {
	background-color: red;
	font-size: 15px;
	color: white;
}